
<!-- <div class="icon-card" *ngFor="let icon of icons">
  <mat-card *ngIf="icon.notify==true" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16" matBadge="1" matBadgePosition="before" matBadgeColor="warn">

    <mat-card-header>
     
        <mat-card-title>{{icon.category}}</mat-card-title>
        <mat-card-subtitle>{{icon.subcategory}}</mat-card-subtitle>
      </mat-card-header>
      <mat-icon mat-card-image [svgIcon]="icon.selectedIcon"></mat-icon>
    
     
  </mat-card>
  <mat-card *ngIf="icon.notify==false" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">

      <mat-card-header>
        
          <mat-card-title>{{icon.category}}</mat-card-title>
          <mat-card-subtitle>{{icon.subcategory}}</mat-card-subtitle>
        </mat-card-header>
        <mat-icon mat-card-image [svgIcon]="icon.selectedIcon"></mat-icon>
       
    </mat-card>

    
  
</div> -->
<div *ngFor="let obj of myObj4">

<div class="icon-card" *ngFor="let main of obj.children">
   <span class="span">
      {{main.node}}
   </span>
   <span class="span" *ngFor="let child of main.children">
    {{child.node}}
 </span>
  </div>
</div>
  
  
  




